

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #119ee6;
    border-color: #119ee6
}

.pagination>.disabled>span {
    opacity: .5
}

.flag {
    max-width: 24px;
    min-width: 24px;
    filter: drop-shadow(1px 1px 1px rgba(100, 0, 0, 0.5))
}

.main-head {
    text-align: center
}

.header--topbar-lang {
    float: right;
    margin-top: 22px;
    cursor: pointer
}

.header--navbar {
    background-color: #fff
}

.header--menu-links a {
    text-transform: uppercase;
    font-size: 13px
}

.languages {
    margin-top: 4px;
    display: block;
    position: relative
}

.navbar-nav {
    list-style: none;
    margin: 0;
    position: absolute
}

.languages .languages-list {
    display: none;
    position: absolute;
    top: 24px;
    z-index: 100
}

.header--search-form {
    position: absolute;
    right: 40px
}

.languages-wrapper {
    position: absolute;
    right: 4px;
    top: 27px;
    list-style: none
}

.post--img img {
    border-radius: 4px
}

.ad--widget {
    padding: 30px 0 15px
}

.social-share__social {
    max-width: 358px
}

.social-share__social a {
    display: inline-block
}

.social-share__social a img {
    padding: 4px;
    border-radius: 4px;
    margin-right: 6px;
    width: 48px;
    height: 48px
}

.social-share__social-item {
    border-radius: 4px
}

.social-share__social-item_facebook {
    background-color: #4267b2
}

.social-share__social-item_twitter {
    background-color: #08a0e9
}

.social-share__social-item_telegram {
    background-color: #31abdd
}

.social-share__social-item_pocket {
    background-color: #ff2550
}

.social-share__social-item_linked-in {
    background-color: #0077b5
}

.social-share__social-item_whats-app {
    background-color: #25d366
}

@media screen and (max-width:990px) {
    .header--search-form {
        position: absolute;
        right: 60px !important
    }

    .languages-wrapper {
        right: 20px
    }

    .social-share__social {
        margin: auto;
        border-radius: 4px;
        margin-bottom: 10px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, .15);
        padding: 6px;
        background-color: #fff;
        max-width: 260px
    }

    .socials-wrapper {
        position: fixed;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100vw;
        box-sizing: border-box;
        will-change: bottom
    }

    .social-share__social a img {
        width: 32px;
        height: 32px
    }

    .see-more .row .post-container {
        width: 100% !important;
        margin-bottom: 20px !important
    }

    .see-more .row li .post--item .post--img .thumb {
        float: left !important;
        max-width: 100px !important
    }
}

.post--title-larger .post--img .post--info {
    margin-top: 12px;
    color: #000;
    position: relative;
    bottom: 0
}

.post--title-larger .post--img .post--info .title .h4 a {
    color: #000
}

.see-more {
    padding: 20px
}

.see-more .row .post-container {
    width: 25%;
    float: left;
    margin: 0 !important;
    padding: 0 !important
}

.see-more .row li .post--item .post--img a {
    float: none;
    max-width: none
}

.see-more .row li .post--item .post--img .post--info .meta {
    margin: 0 -8px !important
}

.language-tabs{
    display: none;
}
.language-tabs.active{
    display: block;
}

.h4{
    font-size: 16px !important;
    line-height: 20px !important;
}

.pass-img{
    display: flex;
    max-width: 600px;
}

.pass-img-item{
    display: block;
    max-width: 300px;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 630px){
    .pass-img{
        display: block;
    }
}