.bold-text {
  font-weight: lighter;
  font-size: 22px; }
  .bold-text span {
    font-weight: 600;
    font-size: 22px; }

.burger-menu {
  transform: translate(100%);
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s ease-out;
  background: #0766cf;
  padding: 50px 50px 50px 100px;
  border-radius: 0px 0px 0px 150px;
  color: #fff; }
  .burger-menu .burger-close {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    padding: 20px;
    cursor: pointer; }
    .burger-menu .burger-close::before {
      content: "";
      transform: rotate(45deg);
      top: 15px;
      left: 10px;
      position: absolute;
      width: 20px;
      height: 2px;
      background: #1bc768; }
    .burger-menu .burger-close::after {
      content: "";
      transform: rotate(-45deg);
      top: 15px;
      left: 10px;
      position: absolute;
      width: 20px;
      height: 2px;
      background: #1bc768; }
  .burger-menu.active {
    opacity: 1;
    transform: translate(0);
    transition: 0.5s ease-out; }
  .burger-menu a,
  .burger-menu p {
    color: #fff; }

.burger {
  display: none;
  cursor: pointer;
  padding: 20px; }
  .burger span {
    cursor: pointer;
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    position: relative; }
    .burger span::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      top: -4px;
      left: 0;
      background: #000; }
    .burger span::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      top: 4px;
      left: 0;
      background: #000; }

.whiteBlue {
  background: #f2f6ff; }

.title {
  font-weight: bold;
  font-size: 30px;
  color: #4b4b4b;
  padding: 67px 0px 47px 0px; }
  .title span {
    font-weight: bold;
    font-size: 30px;
    color: #5d5dfa; }

.subtitle {
  color: #767676;
  font-size: 24px;
  font-weight: normal; }
  .subtitle span {
    font-weight: 600;
    font-size: 24px; }

.green-button {
  display: block;
  font-size: 15px;
  color: #fff;
  background: #1bc768;
  border-radius: 4px;
  text-align: center;
  padding: 17px 27px;
  border: none; }

.button-big {
  font-weight: 500;
  font-size: 18px; }

input,
button {
  outline: none; }

a {
  cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #767676;
  font-weight: normal; }

.container {
  max-width: 975px;
  margin: 0 auto;
  width: 100%; }

.header {
  padding: 46px 0px 26px 0px; }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-wrapper .logo {
      font-weight: bold;
      font-size: 28px; }
    .header-wrapper .sub-header {
      font-weight: 600;
      font-size: 14px;
      color: #1bc768;
      margin-top: 5px;
      text-align: right; }
  .header-block {
    position: relative; }
  .header-block:last-child .sub-header {
    margin-top: 8px; }
  .header-contact {
    display: flex;
    align-items: center; }
    .header-contact .h-mail {
      margin-right: 44px; }
    .header-contact a {
      display: flex;
      align-items: center; }
      .header-contact a img {
        margin-right: 16px; }
    .header-contact .h-phone {
      font-weight: bold;
      font-size: 22px; }

.offer {
  padding-top: 26px;
  background: url(../img/bg.png) no-repeat center top/cover; }
  .offer-wrapper {
    display: flex;
    justify-content: space-between; }
    .offer-wrapper h1,
    .offer-wrapper h2,
    .offer-wrapper p {
      margin-top: 35px; }
    .offer-wrapper h1,
    .offer-wrapper h2,
    .offer-wrapper p,
    .offer-wrapper span {
      color: #fff; }
    .offer-wrapper .offer-block:first-child {
      max-width: 60%; }
      .offer-wrapper .offer-block:first-child .bold-text:last-child {
        margin: 105px 0px 128px 0px; }
    .offer-wrapper h1 {
      font-weight: bold;
      font-size: 32px; }
    .offer-wrapper h2 {
      font-weight: bold;
      font-size: 48px;
      color: #1bc768; }
  .offer-block__form {
    background: #fff;
    border-top: 5px solid #1bc768;
    border-radius: 0px 0px 0px 35px;
    padding: 46px 38px; }
    .offer-block__form .green-button {
      margin: 44px auto auto auto; }
    .offer-block__form-input {
      overflow: hidden; }
    .offer-block__form-title p {
      margin: 18px 0px 18px 0px;
      color: #767676;
      font-weight: lighter; }
      .offer-block__form-title p span {
        font-weight: bold;
        color: #767676; }
    .offer-block__form label {
      color: #393939;
      font-weight: 600;
      font-size: 14px;
      display: block;
      margin: 15px 0px 8px 0px; }
    .offer-block__form input {
      display: block;
      width: 100%;
      border: none;
      background: #ececec;
      padding: 15px;
      border-radius: 4px; }
      .offer-block__form input::placeholder {
        font-size: 15px;
        color: #b1b1b1; }
    .offer-block__form h2 {
      font-weight: 600;
      font-size: 22px;
      color: #767676;
      margin: 0; }
      .offer-block__form h2 span {
        color: #1bc768;
        font-size: 22px; }

.inform {
  padding-bottom: 80px; }
  .inform-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .inform-block:first-child {
    max-width: 60%; }
  .inform-block__text {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: 0.14fr 1fr; }
    .inform-block__text .num {
      border-radius: 100%;
      background: #1bc768;
      color: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-weight: bold;
      font-size: 20px; }
    .inform-block__text p {
      font-weight: normal;
      font-size: 16px;
      color: #767676; }
      .inform-block__text p span {
        background: none;
        padding: 0;
        font-weight: 600;
        color: #3c58a0; }

.advantages {
  padding-bottom: 137px; }
  .advantages-wrapper {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; }
  .advantages-block {
    cursor: pointer;
    height: 425px;
    margin: 25px 0px;
    max-width: 300px;
    background: #fff;
    border: 1px solid #a6a6a6;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 35px;
    transition: 0.5s ease-out; }
    .advantages-block svg {
      padding: 20px;
      background: #5d5dfa;
      border-radius: 20px 20px 0px 20px; }
      .advantages-block svg path {
        fill: #fff; }
    .advantages-block:hover {
      border: none;
      transition: 0.5s ease-out;
      background: #5d5dfa; }
      .advantages-block:hover h3,
      .advantages-block:hover p,
      .advantages-block:hover span {
        color: #fff; }
      .advantages-block:hover svg {
        background: #fff; }
        .advantages-block:hover svg path {
          fill: #4b4b4b; }
    .advantages-block p,
    .advantages-block h3 {
      color: #767676; }
    .advantages-block p {
      font-size: 15px; }
    .advantages-block h3 {
      margin: 25px 0px;
      font-size: 22px;
      color: #393939;
      font-weight: bold; }

.services {
  padding-bottom: 80px;
  background: linear-gradient(90deg, #5d5dfa 0%, #0068c9 100%); }
  .services-wrapper {
    display: flex;
    justify-content: space-between; }
    .services-wrapper .services-block:first-child {
      max-width: 60%; }
  .services-block {
    margin: 25px 0px; }
    .services-block p {
      font-weight: 500;
      font-size: 18px;
      color: #fff;
      margin: 30px 0px; }
    .services-block__title {
      display: flex;
      align-items: center; }
      .services-block__title h3 {
        text-decoration: underline;
        color: #ffffff;
        font-weight: bold;
        font-size: 26px;
        margin-left: 15px; }

.package-service {
  padding-bottom: 70px; }
  .package-service-wrapper {
    display: flex;
    justify-content: space-between; }
    .package-service-wrapper button {
      margin: 41px 0px; }
    .package-service-wrapper img {
      margin-top: 40px; }

.package {
  padding-bottom: 114px; }
  .package-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
  .package-block {
    position: relative;
    height: 955px;
    padding: 20px;
    border: 1px solid #3c58a0;
    box-sizing: border-box;
    border-radius: 6px;
    max-width: 300px; }
    .package-block .green-button {
      margin: 0 auto;
      width: 100%;
      margin-bottom: 40px;
      position: absolute;
      bottom: 0;
      width: 258px; }
    .package-block .subname p {
      font-weight: 600;
      font-size: 14px;
      color: #393939;
      text-align: center; }
    .package-block ul {
      margin: 35px 0px;
      padding: 0px 15px 0px 33px; }
      .package-block ul li {
        margin: 25px 0px; }
    .package-block .price {
      text-align: center;
      margin: 30px 0px; }
      .package-block .price p {
        color: #767676;
        font-size: 22px; }
        .package-block .price p span {
          padding: 0px 8px;
          font-weight: 600;
          font-size: 36px;
          color: #1bc768; }
    .package-block .name {
      text-align: center; }
      .package-block .name h3,
      .package-block .name span {
        color: #2a428c; }
      .package-block .name h3 {
        font-size: 20px; }
      .package-block .name span {
        font-size: 24px;
        font-weight: bold; }

.package-service.copy {
  padding-bottom: 80px;
  background: linear-gradient(90deg, #5d5dfa 0%, #0068c9 100%); }
  .package-service.copy .package-form {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .package-service.copy .package-form label,
    .package-service.copy .package-form input {
      display: block; }
    .package-service.copy .package-form button {
      margin-top: 30px;
      padding: 25px 57px; }
    .package-service.copy .package-form input {
      color: #fff;
      background: none;
      border: 1px solid #fff;
      border-radius: 4px;
      padding: 25px;
      max-width: 300px;
      width: 270px; }
      .package-service.copy .package-form input::placeholder {
        color: #fff;
        font-size: 18px; }
    .package-service.copy .package-form label {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 13px; }
  .package-service.copy h2 {
    font-size: 42px; }
  .package-service.copy h2,
  .package-service.copy p,
  .package-service.copy span {
    color: #fff; }

.question .title {
  padding-bottom: 18px; }

.question .title,
.question .subtitle {
  color: #1c417a; }

.question .question-wrapper {
  padding: 50px 0px 90px 0px; }

.question-block {
  margin: 5px 0px;
  cursor: pointer;
  padding: 25px;
  background: #2664dd;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .question-block p {
    font-size: 24px;
    color: #fff; }
  .question-block span {
    cursor: pointer;
    color: #fff;
    font-size: 60px;
    font-weight: lighter;
    background: #2664dd;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    transition: 0.2s ease-out; }
  .question-block.active {
    background: #004da7; }
    .question-block.active span {
      transition: 0.2s ease-out;
      transform: rotate(225deg); }
  .question-block__content {
    background: #2664dd;
    padding: 25px;
    display: none; }
    .question-block__content p {
      color: #fff;
      font-weight: 500;
      font-size: 18px;
      color: #e4e4e4; }

.facts {
  padding: 85px 0px; }
  .facts-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  .facts-block {
    margin: 0px;
    padding: 18px;
    display: flex;
    max-width: 200px;
    width: 100%;
    align-items: center;
    background: #f2f6ff;
    border-radius: 6px; }
    .facts-block span {
      font-weight: bold;
      font-size: 68px;
      color: #5d5dfa;
      padding: 0px 5px; }
    .facts-block p {
      text-align: left;
      font-size: 12px;
      color: #393939; }
      .facts-block p span {
        color: #393939;
        padding: 0;
        font-size: 12px; }
  .facts-block__first {
    margin: 10px 0px;
    border-radius: 6px;
    padding: 18px;
    display: flex;
    align-items: center;
    max-width: 200px;
    width: 100%;
    text-align: right; }
    .facts-block__first span {
      font-weight: bold;
      font-size: 68px;
      color: #393939; }
    .facts-block__first p {
      color: #5d5dfa;
      font-weight: bold;
      font-size: 22px; }
      .facts-block__first p span {
        font-weight: bold;
        font-size: 22px;
        color: #1bc768; }

.step-wrapper {
  position: relative;
  margin: 40px 0px; }
  .step-wrapper button {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 33;
    cursor: pointer; }

.bg-zakaz {
  max-width: 300px;
  width: 100%;
  margin: 35px auto auto auto;
  font-size: 22px;
  padding: 25px 40px; }

.kassa {
  padding-bottom: 100px;
  background: linear-gradient(90deg, #5d5dfa 0%, #0068c9 100%); }
  .kassa-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .kassa-block {
    max-width: 300px;
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 20px 5px;
    margin: 25px 0px; }
    .kassa-block h3 {
      font-weight: 600;
      font-size: 18px;
      color: #393939; }
    .kassa-block p {
      font-size: 22px;
      color: #767676;
      padding: 5px 0px; }
      .kassa-block p span {
        color: #1bc768;
        font-weight: 600;
        font-size: 36px; }
  .kassa-title {
    display: flex;
    justify-content: space-between; }
    .kassa-title img {
      margin-top: 60px; }
    .kassa-title .title {
      color: #fff; }
      .kassa-title .title span {
        color: #1bc768; }
    .kassa-title .points {
      font-weight: 500;
      font-size: 20px;
      color: #fff;
      padding: 15px 0px; }
    .kassa-title .subtitle {
      color: #fff; }
      .kassa-title .subtitle span {
        color: #fff; }

.dop-service {
  padding-bottom: 108px; }
  .dop-service__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; }
  .dop-service button {
    margin-top: 60px; }
  .dop-service__block {
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0px; }
    .dop-service__block span {
      color: #fff;
      font-weight: bold;
      font-size: 54px;
      padding: 5px 25px;
      background: #5d5dfa;
      border-radius: 20px 20px 0px 20px;
      margin-right: 30px; }
    .dop-service__block p {
      font-weight: 600;
      font-size: 24px;
      color: #393939; }

.footer {
  height: 460px;
  position: relative; }
  .footer iframe {
    position: absolute;
    top: 0;
    left: 0; }
  .footer-wrapper {
    position: relative; }
  .footer-block {
    background: #5d5dfa;
    position: absolute;
    top: 0;
    right: 0;
    padding: 45px 105px 45px 45px;
    border-radius: 0px 0px 0px 28px; }
    .footer-block h3 {
      font-weight: 600;
      font-size: 22px; }
    .footer-block p {
      font-size: 15px;
      padding: 20px 0px; }
      .footer-block p span {
        font-weight: 600; }
    .footer-block a {
      display: flex;
      align-items: center;
      padding: 0px 0px; }
      .footer-block a p {
        font-weight: normal;
        font-size: 16px; }
      .footer-block a img {
        margin-right: 10px; }
      .footer-block a span {
        font-weight: 600;
        font-size: 22px; }
    .footer-block p,
    .footer-block h3,
    .footer-block span {
      color: #fff; }

@media screen and (max-width: 1024px) {
  .step-wrapper img {
    object-fit: cover;
    display: block;
    width: 100%; }
  .package-service.copy .package-form {
    display: grid;
    grid-gap: 32px;
    justify-content: center; }
  .container {
    margin: 0px 35px;
    width: auto;
    max-width: 100%; }
  .burger {
    display: block; }
  .desc {
    display: none; }
  .offer-wrapper {
    display: block; }
  .offer-block__form {
    max-width: 400px;
    margin: 0 auto; }
  .offer-wrapper .offer-block:first-child .bold-text:last-child {
    margin: 50px 0px; }
  .offer {
    padding-bottom: 100px; }
  .offer-block:first-child {
    text-align: center;
    margin: 0 auto; }
  .inform-wrapper {
    display: grid;
    justify-content: center; }
  .inform-block {
    max-width: 100% !important;
    margin: 0 auto; }
  .services-wrapper {
    display: grid;
    justify-content: center; }
  .services-block {
    max-width: 100% !important;
    margin: 20px auto; }
  .title {
    text-align: center; }
  .subtitle {
    text-align: center; }
  .package-service-wrapper {
    display: grid;
    justify-content: center; }
  .facts-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
  .facts-block,
  .facts-block__first {
    margin: 0 auto; }
  .offer-block {
    max-width: 100% !important; }
  .step-wrapper button {
    left: inherit;
    right: 0;
    bottom: 50px; }
  .kassa {
    text-align: center; }
  .kassa-title {
    display: grid;
    justify-content: center;
    text-align: center; }
  .package-wrapper {
    display: grid;
    justify-content: center;
    grid-gap: 20px; }
  .package-service-block {
    margin: 0 auto; }
    .package-service-block button {
      margin: 50px auto; }
  .advantages-wrapper {
    justify-content: center; }
  .advantages-block {
    margin: 10px 10px; } }

@media screen and (max-width: 768px) {
  .step-wrapper button {
    right: -100px; }
  .kassa-wrapper {
    display: grid;
    justify-content: center; }
  .dop-service__wrapper {
    justify-content: center; } }

@media screen and (max-width: 500px) {
  .step-wrapper button {
    position: static;
    margin: 0 auto;
    transform: translate(0);
    margin-top: 50px !important; }
  .facts-wrapper {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 375px) {
  .offer-wrapper h1 {
    font-size: 26px; }
  .offer-wrapper h2 {
    font-size: 36px; }
  .offer-block__form-title {
    font-size: 26px; }
    .offer-block__form-title h2 span {
      font-size: 26px; }
  .inform-block__text {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center; }
  .inform-block__text .num {
    display: block;
    margin: 10px auto; }
  .offer-wrapper h2 {
    font-size: 16px; }
    .offer-wrapper h2 span {
      font-size: 16px; }
  .inform-block img {
    object-fit: contain;
    width: 100%;
    display: block; }
  .advantages-wrapper {
    display: grid;
    grid-template-columns: 1fr; }
  .services-block img {
    display: block;
    width: 100%;
    object-fit: contain; }
  .package-block .green-button {
    max-width: 240px; }
  .kassa-title img {
    width: 100%;
    display: block;
    object-fit: contain; } }
