body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  font-family: "SuisseIntl-Regular";
}

* {
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

div {
  cursor: default;
}

p,
span {
  margin: 0;
  cursor: default;
}

img.tab {
  width: 109px;
  height: 120px;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  z-index: 99;
}

ul,
li {
  display: block;
  padding: 0px;
  margin: 0px;
}

a,
span,
p,
img {
  position: relative;
  z-index: 99;
}

a {
  color: #333;
}
